In [16]:
import pandas as pd

pd.read_csv('C:/Users/penina.wanyama/OneDrive - World Food Programme/personal/Python for data science/Refactored_Py_DS_ML_Bootcamp-master/03-Python-for-Data-Analysis-Pandas/example')

    a   b   c   d
0   0   1   2   3
1   4   5   6   7
2   8   9  10  11
3  12  13  14  15

In [13]:
df = pd.read_csv('C:/Users/penina.wanyama/OneDrive - World Food Programme/personal/Python for data science/Refactored_Py_DS_ML_Bootcamp-master/03-Python-for-Data-Analysis-Pandas/example')

In [6]:
df.to_csv('my_output', index=False)

NameError: name 'df' is not defined

In [11]:
pd.read_csv('my_output')

    a   b   c   d
0   0   1   2   3
1   4   5   6   7
2   8   9  10  11
3  12  13  14  15

In [5]:
import pandas as pd

pd.read_excel('excel_Sample.xlsx')

   Unnamed: 0   a   b   c   d
0           0   0   1   2   3
1           1   4   5   6   7
2           2   8   9  10  11
3           3  12  13  14  15

In [1]:
#hml

data = pd.read_html('http://www.fdic.gov/bank/individual/failed/banklist.html')

type(data)

NameError: name 'pd' is not defined