In [1]:
1+1

2

In [2]:
23%5

3

In [3]:
2**4

16

In [5]:
b=6
a=b
a*5

30

In [6]:
#strings


#can use single quotes or double quotes

In [7]:
"I cant go"

'I cant go'

In [8]:
X ='hell'

In [9]:
X

'hell'

In [10]:
print(X)

hell

In [11]:
num = 12 
name = "sam"

In [13]:
print('my number is {} and my name is {}'.format(num, name))

my number is 12 and my name is sam

In [14]:
#indexing strings

s = "hello"

In [15]:
s[0]

'h'

In [16]:
s[-1]

'o'

In [17]:
s[-2]

'l'

In [18]:
s[0:-1]

'hell'

In [19]:
s[:-1]

'hell'

In [20]:
s[:]

'hello'

In [21]:
#lists
# a sequence of elements in a set of square backets, sepaarted by commas, takes any data type

In [22]:
my_list = ['a', 'b', 'c']

In [24]:
my_list.append('d')

In [25]:
my_list

['a', 'b', 'c', 'd']

In [26]:
#dictionaries

d = {'key1': {'innerkey': [1,2,3]}, 'key2': 123}

d ['key1']

'value'

In [27]:
t = (1,2,3)

In [28]:
#set isa unique set of elements

In [29]:
seq = [1,2,3,4,5]

for item in seq:
    print(item)

1
2
3
4
5

In [31]:
i =1
while i<5:
    print('i is: {}'.format(i))
    i = i+1

i is: 1
i is: 2
i is: 3
i is: 4

In [41]:
for x in range(0, 10):
    print(x)

0
1
2
3
4
5
6
7
8
9

In [42]:
x = [1,2,3,4]

In [45]:
out = []

for num in x:
    
    out.append(num**2)

In [46]:
print(out)

[1, 4, 9, 16]

In [47]:
out = [num**2 for num in x]

In [48]:
out

[1, 4, 9, 16]

In [49]:
#functions

def my_func(param1):
    print(param1)
    
my_func(50)

50

In [52]:
def greeting(name):
    print('hi '  +name)
greeting('Annie')

hi Annie

In [53]:
def square(num):
    return num**2

output = square(4)

In [54]:
output

16

In [58]:
#map function
seq = [1,2,3,4,5]

map(square, seq)

list(map(square, seq))

[1, 4, 9, 16, 25]

In [59]:
list(map(lambda num: num*3, seq))

[3, 6, 9, 12, 15]

In [62]:
list(filter(lambda num: num%2 ==0, seq))

[2, 4]

In [63]:
#methods are calls that can be made on an object..


s = 'hello my name is Sam'

s.lower()

'hello my name is sam'

In [64]:
s.upper()

'HELLO MY NAME IS SAM'

In [65]:
s.split()

['hello', 'my', 'name', 'is', 'Sam']

In [67]:
tweet = "Go Sports! #Sports"
tweet.split("#")[0]

'Go Sports! '

In [68]:
d={'K1':1, 'K2':2}
d.items()

dict_items([('K1', 1), ('K2', 2)])

In [70]:
d.values()

dict_values([1, 2])

In [71]:
lst = [1,2,3]
lst.pop()

3

In [72]:
lst

[1, 2]

In [73]:
'x' in ['x', 'y', 'z']

True

In [79]:
#tuple unpacking
x = [(1,2),(3,4),(5,6)]
x[0][1]

2

In [84]:
for (a, b)in x :
    print(b)

2
4
6